<ul id="contenedor-lista" class="demo-list-icon mdl-list w-100">
    {{#listaProductos}}
    <li class="mdl-list__item">

        <!-- Icono del producto -->
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">shopping_cart</i>
        </span>

        <!-- Nombre del producto -->
        <span class="mdl-list__item-primary-content w-30">
           {{nombre}}
        </span>

        <!-- Cantidad del producto -->
        <span class="mdl-list__item-primary-content w-20">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input onchange="cambiarValor('cantidad', {{id}}, this)" class="mdl-textfield__input" type="text"
                    id="cantidad-{{id}}" value="{{cantidad}}">
                <label class="mdl-textfield__label" for="cantidad-{{id}}">Cantidad</label>
            </div>
        </span>

        <!-- Precio del producto -->
        <span class="mdl-list__item-primary-content w-20 ml-item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input onchange="cambiarValor('precio', {{id}}, this)" class="mdl-textfield__input" type="text"
                    id="precio-{{id}}" value="{{precio}}">
                <label class="mdl-textfield__label" for="precio-{{id}}">Precio($)</label>
            </div>
        </span>

        <!-- Acción (Borrar producto) -->
        <span class="mdl-list__item-primary-content w-20">
            <button onclick="borrarProd({{id}})" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">remove_shopping_cart</i>
            </button>
        </span>
    </li>
    {{/listaProductos}}
</ul>